@font-face {
  font-family: "CeraPro";
  font-display: swap;
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  font-display: swap;
  src: url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  font-display: swap;
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  font-display: swap;
  src: url("../fonts/CeraPro-Black.woff2") format("woff2"), url("../fonts/CeraPro-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

h2.title {
  font-weight: 400;
  display: block;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: #414255;
}

h2.title b {
  font-weight: 700;
}

.features {
  padding-top: 130px;
  padding-bottom: 40px;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-wrap-item {
  width: calc(33.3% - 21px);
  margin-bottom: 90px;
  -webkit-box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
          box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
  border-radius: 2px;
  background-color: #fff;
  padding: 30px;
}

.features-wrap-item strong {
  display: block;
  margin: 15px 0;
  color: #5B5D77;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}

.features-wrap-item p {
  color: #272833;
  line-height: 1.5;
}

.features-wrap-item p b {
  font-weight: 500;
}

.slider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

.slider-text p {
  color: #C6C6D3;
  font-size: 16px;
  margin-right: 15px;
}

.photos-wrap .slick-list {
  overflow: visible;
}

.photos-wrap-item {
  margin-right: 30px;
  position: relative;
}

.photos-wrap-item::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.photos-wrap-item.slick-active::before {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

.photos-wrap-item img {
  height: 232px;
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

.photos-wrap-item img:last-child {
  margin-bottom: 0;
}

.photos-wrap-item-single img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 494px;
  margin-bottom: 0;
}

.feed .slick-list {
  overflow: visible;
}

.feed .slider-text {
  margin-bottom: 0;
  margin-top: 30px;
  margin-bottom: 50px;
}

.feed .button {
  margin-left: auto;
  margin-right: auto;
}

.feed-wrap {
  display: block;
}

.feed-wrap-item {
  position: relative;
  margin-right: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
          box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
  border-radius: 2px;
  padding: 30px;
}

.feed-wrap-item .slider-text {
  margin: 0;
  cursor: pointer;
}

.feed-wrap-item .slider-text p {
  font-size: 14px;
  margin-right: 15px;
}

.feed-wrap-item .slider-text:hover p {
  color: #414255;
  font-size: 14px;
}

.feed-wrap-item-content {
  margin-bottom: 20px;
  height: 150px;
  overflow: hidden;
}

.feed-wrap-item-content-service {
  margin-bottom: 15px;
  display: inline-block;
}

.feed-wrap-item-content-service span {
  color: #C6C6D3;
  font-weight: 500;
}

.feed-wrap-item-content-service p {
  font-weight: 500;
  display: inline-block;
}

.feed-wrap-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.feed-wrap-item-title img {
  display: block;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  margin-right: 25px;
}

.feed-wrap-item-title small {
  display: block;
  color: #C6C6D3;
  font-weight: 500;
  margin-bottom: 1px;
}

.feed-wrap-item-title strong {
  display: block;
  font-size: 16px;
  color: #5B5D77;
  font-weight: 500;
}

.feed-wrap-item::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.feed-wrap-item.slick-active::before {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

.map iframe {
  position: relative;
  z-index: 10;
}

.map-wrap {
  position: relative;
}

.map-wrap-content {
  position: absolute;
  background-color: #fff;
  padding: 30px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
          box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
  z-index: 50;
  right: 50px;
  top: 150px;
  max-width: 360px;
  width: 100%;
}

.map-wrap-content .button {
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.map-wrap-content .button-border {
  margin-bottom: 0;
  border: 1px solid #5B5D77;
}

.map-wrap-content h3 {
  font-size: 18px;
  display: block;
  font-weight: 500;
  margin-bottom: 20px;
  color: #272833;
}

.map-wrap-content small {
  display: block;
  margin-bottom: 30px;
  font-size: 12px;
  color: #C6C6D3;
}

.map-wrap-content p {
  padding-bottom: 15px;
  font-size: 16px;
}

.map-wrap-content p b {
  color: #5B5D77;
  font-weight: 500;
  font-size: 16px;
}

.footer {
  padding-bottom: 50px;
}

.footer-logo {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 30px;
}

.footer-adress {
  max-width: 490px;
  margin: auto;
  margin-bottom: 25px;
}

.footer-adress p {
  margin: auto;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
}

.footer-adress p b {
  font-weight: 500;
  color: #272833;
}

.footer-phone {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-phone p {
  margin-left: 25px;
  font-size: 14px;
}

.footer-phone p b {
  font-weight: 500;
}

.footer-phone a {
  font-size: 18px;
  font-weight: 500;
  color: #5B5D77;
  margin-right: 25px;
}

.footer-phone a:hover {
  color: #414255;
}

.footer-social {
  max-width: 270px;
  margin: auto;
  margin-bottom: 50px;
}

.footer small {
  font-size: 12px;
  color: #5B5D77;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.footer-bottom p,
.footer-bottom a {
  color: #5B5D77;
  font-size: 12px;
}

.footer-bottom a {
  text-decoration: underline;
}

.breadcrumbs {
  padding-top: 50px;
  font-size: 16px;
  color: #272833;
}

.breadcrumbs a,
.breadcrumbs span {
  font-size: 16px;
  color: #272833;
}

.breadcrumbs span {
  font-weight: 500;
}

.offer-page h1 {
  max-width: 470px;
}

.offer-page p {
  max-width: 470px;
}

.about {
  padding-top: 50px;
}

.about-wrap {
  display: block;
}

.about-wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 0;
}

.about-wrap-item:nth-child(2n+2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-wrap-item:nth-child(2n+2) .about-wrap-item-left {
  padding-left: 50px;
}

.about-wrap-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 370px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-right: 50px;
}

.about-wrap-item-left p {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  color: #272833;
}

.about-wrap-item-left p:last-child {
  margin-bottom: 0;
}

.about-wrap-item-left .button {
  margin-top: 30px;
}

.about-wrap-item-right {
  width: 50%;
}

.about-wrap-item-right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 370px;
  display: block;
  margin: 0;
}

.docs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.docs-wrap-item {
  width: calc(50% - 15px);
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
          box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
  border-radius: 2px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.docs-wrap-item-right {
  width: 180px;
}

.docs-wrap-item-left {
  width: calc(100% - 180px);
  position: relative;
  height: 100%;
}

.docs-wrap-item-left-bot {
  position: absolute;
  left: 0;
  bottom: 0;
}

.docs-wrap-item-left-bot p {
  font-size: 16px;
  color: #5B5D77;
  display: block;
  margin-bottom: 5px;
}

.docs-wrap-item-left-bot small {
  font-size: 14px;
  color: #BABBCA;
}

.docs-wrap-item-left > p {
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
  color: #414255;
}

.docs-wrap-item-left a {
  color: #5B5D77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.docs-wrap-item-left a:hover {
  color: #414255;
}

.docs-wrap-item-left a img {
  display: block;
  margin-right: 15px;
}

.rent .slick-list {
  overflow: visible;
}

.rent-wrap-item {
  position: relative;
  margin-right: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
          box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
  border-radius: 2px;
}

.rent-wrap-item .button {
  border: 1px solid #5B5D77;
  width: 190px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.rent-wrap-item-text {
  padding: 0 30px;
  font-size: 16px;
  display: block;
  margin-bottom: 25px;
}

.rent-wrap-item-text b {
  font-weight: 500;
}

.rent-wrap-item strong {
  padding: 0 30px;
  color: #272833;
  font-size: 18px;
  width: 100%;
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 30px;
}

.rent-wrap-item .stage {
  background-color: #fff;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 5px 20px rgba(26, 27, 34, 0.05);
          box-shadow: 0px 5px 20px rgba(26, 27, 34, 0.05);
  border-radius: 2px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.rent-wrap-item-img {
  width: 100%;
  background-color: rgba(91, 93, 119, 0.2);
  height: 250px;
}

.rent-wrap-item-img img {
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.rent-wrap-item::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.rent-wrap-item.slick-active::before {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

#thx {
  position: fixed;
  z-index: 300;
  top: 50%;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 95vw;
  max-height: 95vh;
  background: -o-linear-gradient(189.08deg, #223268 8.78%, #324BA5 101.28%);
  background: linear-gradient(260.92deg, #223268 8.78%, #324BA5 101.28%);
}

#thx .wrap {
  color: #fff;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  height: 600px;
  width: 600px;
  max-width: 100%;
}

#thx .wrap h2 {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 34px;
  margin-bottom: 50px;
}

#thx .wrap p {
  font-size: 16px;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
}

.popup {
  width: 100%;
  max-width: 560px;
  max-height: 95vh;
  z-index: 150;
  display: none;
  position: fixed;
  margin-left: 100px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}

.popup-feed {
  padding: 30px;
  -webkit-box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
          box-shadow: 0px 10px 45px rgba(26, 27, 34, 0.05);
}

.popup-feed .slider-text {
  display: none;
}

.popup-feed .close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #414255;
  font-size: 14px;
  cursor: pointer;
  z-index: 10;
}

.popup-feed .close:hover {
  color: #5B5D77;
}

.popup-feed .feed-wrap-item {
  margin: 0;
}

.popup-feed .feed-wrap-item-content {
  height: auto;
  margin-bottom: 0;
}

.popup-feed .feed-wrap-item-content p {
  margin-bottom: 15px;
}

.popup-feed .feed-wrap-item::before {
  display: none;
}

.popup-sign {
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
  z-index: 300;
  height: 100%;
  width: 100%;
  margin-left: 0;
  padding: 35px;
}

.popup-sign strong {
  display: block;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: #5B5D77;
}

.popup-sign strong b {
  font-weight: 700;
}

.popup-sign-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 1024px;
  margin: auto;
}

.popup-sign-top .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 16px;
  color: #414255;
}

.popup-sign-top .close:hover {
  color: #5B5D77;
}

.popup-wrap {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  max-width: 340px;
  width: 340px;
}

.popup-wrap .button {
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.popup-wrap small {
  color: #5B5D77;
  font-size: 10px;
  display: inline-block;
}

.popup-wrap small a {
  text-decoration: underline;
}

.popup-wrap input[type=tel],
.popup-wrap input[type=text],
.popup-wrap input[type=email] {
  background-color: #fff;
  height: 60px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-top: 30px;
  border-radius: 2px;
  border: none;
  -webkit-box-shadow: 0px 10px 20px rgba(26, 27, 34, 0.04);
          box-shadow: 0px 10px 20px rgba(26, 27, 34, 0.04);
  position: relative;
}

.popup-wrap label {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  bottom: -25px;
  z-index: 1;
  padding-left: 15px;
  color: #5B5D77;
}

.popup-wrap b {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.popup-wrap p {
  font-size: 16px;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .features-wrap-item {
    width: calc(50% - 15px);
    margin-bottom: 40px;
  }

  .popup-feed {
    margin-left: 150px;
  }
}

@media (max-width: 992px) {
  h2.title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .features {
    padding-top: 70px;
  }

  .features-wrap-item {
    width: 100%;
    margin-bottom: 30px;
  }

  .map-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .map-wrap-content {
    position: static;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .map-wrap iframe {
    height: 500px;
  }

  .footer-bottom {
    display: block;
  }

  .footer-bottom p,
  .footer-bottom a {
    margin-bottom: 20px;
    display: block;
    text-align: center;
    width: 100%;
  }

  .footer small {
    text-align: center;
    display: block;
    width: 100%;
  }

  .popup-feed {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .popup-feed {
    max-width: calc(100% - 30px);
    max-height: calc(100vh - 30px);
    overflow-y: auto;
  }

  .popup-sign-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .popup-sign-top .close {
    position: relative;
    top: auto;
    right: auto;
    z-index: 10;
  }

  .popup-sign-top img {
    display: none;
  }
}

@media (max-width: 578px) {
  h2.title {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .slider-text p {
    font-size: 12px;
  }

  .photos-wrap-item {
    margin-right: 10px;
  }

  .photos-wrap-item img {
    height: 190px;
    margin-bottom: 20px;
  }

  .photos-wrap-item-single img {
    height: 400px;
  }

  .feed-wrap-item {
    margin-right: 10px;
  }

  .feed-wrap-item-content {
    height: 146px;
  }

  .map-wrap iframe {
    max-height: 300px;
  }
}

@media (max-width: 370px) {
  .popup-sign-wrap {
    width: 100%;
  }
}